body{
    background-color: var(--bs-blanco-roto);
}

.contenedor{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    padding: 1rem;
}

.nabvar-cocina{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: var(--bs-marron-oscuro);
}

.nombre-restaurante{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.nombre-restaurante>img{
    width: 35px;
}

.fecha{
    font-size: 20px;
    margin-top: 4px;
    color: var(--bs-naranja-secundario);
}

.comandas{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    overflow: hidden;
    min-width: auto;
    gap: 1rem;
    margin-bottom: 1rem;
}

.card-comanda{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;

    min-width: auto;
    max-width: 500px;
    height: fit-content;

    background-color: var(--bs-blanco-roto);
    color: var(--bs-marron-oscuro);

    border: 1px solid rgb(245, 197, 178);
    border-radius: 10px;

    text-align: center;
    font-size: 15px;
    box-shadow: 0 3px 12px -9px black;
    padding: 1.5rem;
    gap: 1rem;
}

.card-comanda>div{
    width: 100%;
}

.header-comanda{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-comanda-nombre{
    font-size: 25px;
    max-width: 70%;
    text-align: left;
}

.header-comanda-mesa{
    background-color: var(--bs-naranja-primario);
    color: white;
    border-radius: 10px;
    padding: 7px;
    margin: 0;
}

.comanda-tiempo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}
.comanda-tiempo-img img{
    width: 20px;
    height: 20px;
}

.comanda-descripcion{
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.comanda-descripcion-cantidad{
    color: var(--bs-naranja-primario);
    font-weight: bold;
    font-size: 40px;
}

.comanda-boton-enproceso{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comanda-boton-enproceso>button{
    height: 50px;
    background-color: var(--bs-marron-oscuro);
    color: white;

    border-radius: 10px;
    border: 0;
    font-size: large;
    cursor: pointer;
}

.comanda-boton-enproceso>button:hover{
    color: var(--bs-marron-oscuro);
    background-color: var(--bs-marron-claro);
}

.comanda-boton-preparado{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comanda-boton-preparado>button{
    height: 50px;
    background-color: green;
    border-radius: 10px;
    border: 0;
    color: white;
    font-size: large;
    cursor: pointer;
}

.comanda-boton-preparado>button:hover{
    background-color: darkgreen;
}