:root,[data-bs-theme=light]{
    --bs-naranja-primario:#ff6f00;
    --bs-naranja-secundario:#BE7C4D;
    --bs-marron-oscuro:#400406;
    --bs-blanco-roto:#f9efe7 ;
    --bs-blanco-roto-hover: #f8dccf;
    --bs-marron-claro: #40040634;
}

@font-face {
    font-family: 'Instrument';
    src: url('../fonts/Instrument_Sans/InstrumentSans-VariableFont_wdth,wght.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Manjari';
    src: url('../fonts/Manjari/Manjari-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

*{
    padding: 0 ;
    margin: 0 ;
    box-sizing: border-box ;
}

.fondo-blanco-roto{
    background-color: var(--bs-blanco-roto);
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Instrument', serif;
}

p,a{
    font-family: 'Manjari', serif;
}

