{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Safador De Las Delicias - Cocina</title>
    <link rel="stylesheet" href="{% static 'style/global.css' %}">
    <link rel="stylesheet" href="{% static 'style/cocina.css' %}">
</head>
<body>
    <div class="contenedor">
        <div class="nabvar-cocina">
            <div class="nombre-restaurante">
                <img src="{% static 'image/gorro-chef-naranja.png' %}">
                <h1>Safador de las Delicias - Cocina</h1>
            </div>
            <p class="fecha">17/02/2025</p>
        </div>
        <div class="comandas">
            <div class="card-comanda">
                <div class="header-comanda"> 
                    <h3 class="header-comanda-nombre"><b>Tortilla Española</b></h3>
                    <p class="header-comanda-mesa">Mesa 3</p>
                </div>
                <div class="comanda-tiempo">
                    <div class="comanda-tiempo-img">
                        <img src="{% static 'image/reloj-marron-claro.png' %}">
                    </div>
                    <p class="comanda-tiempo-texto">Hace 15 min</p>
                </div>
                <div class="comanda-descripcion">
                    <p class="comanda-descripcion-cantidad">x2</p>
                    <p class="comanda-descripcion-texto">Traditional spanish omelet.</p>
                </div>
                <div class="comanda-boton-preparado">
                    <button type="submit">Preparado</button>
                </div>
            </div>
            <div class="card-comanda">
                <div class="header-comanda">
                    <h3 class="header-comanda-nombre"><b>Tortilla Española</b></h3>
                    <p class="header-comanda-mesa">Mesa 3</p>
                </div>
                <div class="comanda-tiempo">
                    <div class="comanda-tiempo-img">
                        <img src="{% static 'image/reloj-marron-claro.png' %}">
                    </div>
                    <p class="comanda-tiempo-texto">Hace 15 min</p>
                </div>
                <div class="comanda-descripcion">
                    <p class="comanda-descripcion-cantidad">x2</p>
                    <p class="comanda-descripcion-texto">Traditional spanish omelet.</p>
                </div>
                <div class="comanda-boton-preparado">
                    <button type="submit">Preparado</button>
                </div>
            </div>
            <div class="card-comanda">
                <div class="header-comanda">
                    <h3 class="header-comanda-nombre"><b>Tortilla Española</b></h3>
                    <p class="header-comanda-mesa">Mesa 3</p>
                </div>
                <div class="comanda-tiempo">
                    <div class="comanda-tiempo-img">
                        <img src="{% static 'image/reloj-marron-claro.png' %}">
                    </div>
                    <p class="comanda-tiempo-texto">Hace 15 min</p>
                </div>
                <div class="comanda-descripcion">
                    <p class="comanda-descripcion-cantidad">x2</p>
                    <p class="comanda-descripcion-texto">Traditional spanish omelet.</p>
                </div>
                <div class="comanda-boton-preparado">
                    <button type="submit">Preparado</button>
                </div>
            </div>
            <div class="card-comanda">
                <div class="header-comanda">
                    <h3 class="header-comanda-nombre"><b>Tortilla Española</b></h3>
                    <p class="header-comanda-mesa">Mesa 3</p>
                </div>
                <div class="comanda-tiempo">
                    <div class="comanda-tiempo-img">
                        <img src="{% static 'image/reloj-marron-claro.png' %}">
                    </div>
                    <p class="comanda-tiempo-texto">Hace 15 min</p>
                </div>
                <div class="comanda-descripcion">
                    <p class="comanda-descripcion-cantidad">x2</p>
                    <p class="comanda-descripcion-texto">Traditional spanish omelet.</p>
                </div>
                <div class="comanda-boton-preparado">
                    <button type="submit">Preparado</button>
                </div>
            </div>
            <div class="card-comanda">
                <div class="header-comanda">
                    <h3 class="header-comanda-nombre"><b>Tortilla Española</b></h3>
                    <p class="header-comanda-mesa">Mesa 3</p>
                </div>
                <div class="comanda-tiempo">
                    <div class="comanda-tiempo-img">
                        <img src="{% static 'image/reloj-marron-claro.png' %}">
                    </div>
                    <p class="comanda-tiempo-texto">Hace 15 min</p>
                </div>
                <div class="comanda-descripcion">
                    <p class="comanda-descripcion-cantidad">x2</p>
                    <p class="comanda-descripcion-texto">Traditional spanish omelet.</p>
                </div>
                <div class="comanda-boton-preparado">
                    <button type="submit">Preparado</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>