{% extends 'base.html' %}
{% load static %}

{% block title %}Safador De Las Delicias - Inicio{% endblock %}


{% block css %}
    <link rel="stylesheet" href="{% static 'style/home.css' %}">
{% endblock %}

{% block enlaces %}

    <a href="{% url 'mesas' %}">MESAS</a>
    <a href="{% url 'cocina' %}">COCINA</a>
    <a href="{% url 'carta' %}">CARTA</a>
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'formularioEmpleado' %}">Formulario Empleados</a>

{% endblock %}

{% block  content%}
	<div id="hero">
        <h1>Hero</h1>
    </div>
    <div id="carta">
        <h1>Carta</h1>
    </div>
    <div id="valoraciones">
        <h1>Valoraciones</h1>
    </div>
    <div id="contacto">
        <h1>Contacto</h1>
    </div>
{% endblock %}
